name: Build & Test
on: [push]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Set Node.js 13.x
      uses: actions/setup-node@master
      with:
        version: 13.x

    - name: install, build & test
      run: npm install -g yarn

    - name: yarn install
      run: yarn install

    - name: yarn build
      run: yarn build

    - name: yarn test
      run: yarn test
